<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.hong.mappers.BoardMapper">

	<sql id ="search">
		<if test="searchType != null" >
		
			<if test="searchType == 't'.toString()">
				and title like CONCAT('%', #{keyword}, '%')
			</if>
			
			<if test="searchType == 'c'.toString()">
				and content like CONCAT('%', #{keyword}, '%')
			</if>
			
			<if test="searchType == 'w'.toString()">
				and member_nickname like CONCAT('%', #{keyword}, '%')
			</if>
			
			<if test="searchType == 'tc'.toString()">
				and (title like CONCAT('%', #{keyword}, '%') OR content like CONCAT('%', #{keyword}, '%'))
			</if>
			
			<if test="searchType == 'cw'.toString()">
				and (content like CONCAT('%', #{keyword}, '%') OR member_nickname like CONCAT('%', #{keyword}, '%'))
			</if>
			
			<if test="searchType == 'tcw'.toString()">
				and (title like CONCAT('%', #{keyword}, '%') OR content like CONCAT('%', #{keyword}, '%') OR member_nickname like CONCAT('%', #{keyword}, '%'))
			</if>
		</if>  
	</sql>
	
	<!-- 게시판 전체 불러오기 -->
	<select id="board_listAll" resultType="BoardDTO">
		select *
		from board
	</select>

	<!-- 게시물 상세보기 -->
	<select id="board_detail" resultType="BoardDTO">
		select * from board
		where num = #{num}
	</select>

	<!-- 게시물 작성 -->
	<insert id="board_write" parameterType="BoardDTO">
		insert into board (title,
		content, member_nickname
		)
		values(#{title}, #{content},
		#{member_nickname}
		)
	</insert>

	<!-- 게시물 수정 -->
	<update id="board_update">
		update board set title = #{title}, content =
		#{content}, cnt = #{cnt}
		where num = #{num}
	</update>

	<!-- 게시물 삭제 -->
	<delete id="board_delete">
		delete from board where num = #{num}
	</delete>

	<!-- 페이징 처리 -->
	<select id="listPage" resultType="BoardDTO">
	<![CDATA[
	select
		num, title, content, member_nickname, date, cnt
	from
		board
	where num > 0
	order by num desc, date desc
	limit #{page}, 10
	]]>
	</select>

	<!-- 페이징 정보 담는 Criteria = 기준 -->
	<select id="listCriteria" resultType="BoardDTO">
	<![CDATA[
	select
		num, title, content, member_nickname, date, cnt
	from
		board
	where num > 0
	order by num desc, date desc
	limit #{pageStart}, #{perPageNum}
	]]>
	</select>

	<!-- 보드 토탈 -->
	<select id="countPaging" resultType="int">
	<![CDATA[
	select
		count(num)
	from
		board
	where
		num > 0	
	]]>
	</select>
	
  	<!-- 보드 페이지 넘버  -->
  	
	<select id="listSearch" resultType="BoardDTO">
	<![CDATA[
	 select *
	 from board
	 where num > 0
	 ]]>
	 
	<include refid="search"></include>
	
	<![CDATA[
	 order by num desc
	 limit #{pageStart}, #{perPageNum}
	 ]]>
	</select>

	<!-- 검색 결과 카운트  -->
	<select id="listSearchCount" resultType="int">
	<![CDATA[
	select count(num)
	from board
	where num > 0
	]]>
	<include refid="search"></include>
	</select>
	
	</mapper>